/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    /*font-family: 'Inter', serif;*/

}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', serif;
    font-style: normal;
}
.container{
    width: 1280px;
    height:3749px;
    margin: auto;
}
.small_common_margin{
    margin-left: 6%;
    margin-right: 6%;
}
.big_common_margin{
    margin-left: 15%;
    margin-right: 15%;
}
.navbar{
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.page_logo{
    position: static;
    width: 2%;
    height: 2%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2%;

}
nav ul li a{
    text-decoration: none;
    color: #111827;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.active{
    text-decoration: underline 3%;
}

.search_icon{
    margin-left:4%;
}
.home{
    Height: 572px;
    background-color:#F8F8F8;
    background-image: url(".././images/Vector 14.png");
    background-repeat: no-repeat;
    background-position: 75%;
}
.home_container{
    display: flex;
    justify-content: space-between;
}

.home_left_or_up{
  flex-basis: 35%;
}

h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #414141;
    margin: 32% 0 12% 0;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 72px;
    color: #414141;
}
h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 72px;
    color: #414141;
}
h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 72px;
    color: #414141;
}
h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
}

.home_left_or_up_greenPlayIcon_and_description{
    display: flex;
    justify-content: space-between;
}
.green_ellipse{
    width:7%;
    height: 10%;
    background-color:#9FD685; ;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px #9FD685;
    padding: 1%;
}
.home_left_or_up_greenPlayIcon_and_description p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #414141;
    margin: 0 21% 0 7%;
}

.home_right_or_down{
    flex-basis: 65%;
}

.service{
    display: flex;
    justify-content: space-between;
    height: 787px;
}
.service_left_or_down{
    margin-top: 10%;
    margin-left: 12%;
}
.laptop{
   position: relative;
}
.view_details{
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 72px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 16px 34px;
    top: -76%;
    left: 55%;
}
.service_right_or_up{
    margin-top: 10%;
    margin-right: 18%;
    margin-left: 5%;
}
.service_right_or_up h2{
    margin-left: 3%;
}
.service_right_or_up_service_description_logo_and_header{
    display: flex;
    column-gap: 4%;
    margin-top: 4%;
}
.service_right_or_up img{
    width: 3%;
    height: 3%;
}

.service_right_or_up p{
    font-family: 'Roboto', sans-serif;
    margin: 3% 7%;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #5E5B5B;
}
.work{
    background-image: url(".././images/hand.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 411px;

}

.how_we_work{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 42%;
    height: 71%;
    left: 15%;
    top: 14%;
}
.how_we_work_container{
    padding: 6% 10% 25%;
}
.how_we_work_container p{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #9F9F9F;
    margin: 0 32% 13% 0;
}
.black_btn{
    text-decoration: none;
    color: #FFFFFF;
    background-color:#4A4A4A;
    padding: 4% 6%;
}
.biggest_fans{
    align-items: center;
    text-align: center;
}
.biggest_fans h2 {
    margin: 14% 30% 0;
}
.biggest_fans_logos{
    display: flex;
    flex-flow: wrap;
    margin: 3% 0;
}
.biggest_fans_logos img{
    margin-right: 2%;
    margin-left: 2%;
}

.biggest_fans p{
    font-weight: 400;
    font-size: 14px;
    line-height: 45px;
    color: #5E5B5B;
}
.team{
    height: 595px;
    text-align: center;
}
.team h2{
    margin-top: 5%;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.swiper-slide{
    text-align: center;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #E5E5E5;;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2%;
}
.swiper_pointer .active{
   background-color: #9F9F9F;
}
.swiper-slide img{
    height: 50%;
    width: 100%;
    border-radius: 50%;
}
.active_img{
    height: 50%;
    width: 33%;
}
.inactive_img{
    margin-top: 5%;
}
.designation{
    color: #9F9F9F;
}
.swiper_pointer{
    display: flex;
    margin: 4% 0 0 38%;
}
.join_our_team{
    display: flex;
    justify-content:space-between;
    margin-top: 4%;
}
.join_our_team_left_or_up hr{
    color: #000000;
}
.join_our_team_left_or_up img{
    margin-top: 2%;
}
.join_our_team_right_or_down{
    margin-left: 5%;
    margin-right: 7%;
}

.join_our_team_right_or_down p{
    margin-top: 12%;
    margin-bottom: 10%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.join_our_team_right_or_down .black_btn{
    padding: 2% 9%;
}
.address{
    height: 327px;
    display: flex;
}
.address_left_or_up h4{
    margin: 20% 0 1% 9%;
}
.address_right_or_down{
    display: flex;
    margin-left: 11%;
    margin-top: 6%;
    column-gap: 83%;
}
.Company{
    padding-right: 2%;
}
.Company p{
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #9F9F9F;
}
.Contact a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: #9F9F9F;
    display: flex;
    column-gap: 15%;
    margin-left: 2%;
}
.Contact img{
    width: 13%;
    height: 13%;
    margin-top: 4%;
}
.footer{
    height: 98px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/*/////////////////////////////*/

@media only screen and (max-width: 768px) and (min-width: 376px){
    .container{
        width: 768px;
        height: 6261px;
        overflow: hidden;
    }
    nav{
        display: none;
    }

    .search_icon{
        margin-left: 80%;
    }

    .small_common_margin{
        margin-left: 4%;
        margin-right: 4%;
    }
    .big_common_margin{
        margin-left: 10%;
        margin-right: 10%;
    }
    .home{
        Height: 940px;
        background-position: 59% 77%;
    }
    .home_container{
      flex-direction: column;
    }

    h1 {
        font-size: 62px;
        line-height: 93px;
        margin: 9% 0 6% 3%;
    }
    .home_left_or_up_greenPlayIcon_and_description p {
        font-size: 20px;
        line-height: 41px;
        margin: 0 0% 4% 0%;
    }

    .green_ellipse {
        width: 7%;
        padding: 1%;
        margin: 1% 4% 0 4%;
    }

    .green_ellipse img {
        width: 85%;
    }

    .girl_picture{
        width: 89%;
        margin: 10% 0 0 3%;
    }
    .service{
        flex-direction: column-reverse;
        margin: 31% 0 0 0;
        height: 1250px;
    }
    h2 {

        font-size: 44px;
        line-height: 100px;

    }
    .laptop {
        width: 87%;
    }

    .service_right_or_up_service_description{
        margin-left: 4%;
    }

    .service_right_or_up img {
        width: 4%;
    }

    h6 {
        font-size: 22px;
    }
    .service_right_or_up p {
        margin: 3% 0 3% 7%;
        font-size: 16px;
        line-height: 28px;
    }

    .view_details{
        font-size: 19px;
        line-height: 72px;
        padding: 23px 45px;
        top: -86%;
        left: 52%;
    }

    .work{
        height: 406px;
        background-position: top center;
        background-size: 90%;
    }

    .how_we_work {
        width: 58%;
        height: 52%;
        left: 21%;
        top: 65%;
    }
    .how_we_work h2 {
        font-size: 32px;
        line-height: 33px;
    }

    .how_we_work_container {
        padding: 8% 10% 8%;
    }

    .how_we_work_container p {
        font-size: 17px;
        line-height: 22px;
        margin: 13px 4% 7% 0;
    }

    .black_btn {
        padding: 3% 5%;
        font-size: 91%;
    }

    .biggest_fans h2 {
        margin: 26% 15% 6%;
        line-height: 77px;
    }
    .biggest_fans_logos {
        margin: 3% 3%;
    }
    .biggest_fans_logos img {
        margin-right: 2%;
        margin-left: 12%;
        width: 32%;
    }
    .biggest_fans p {
        font-size: 22px;
        line-height: 84px;}

    .join_our_team{
        flex-direction: column;
    }

    .join_our_team_left_or_up img {
        width: 100%;
        margin: auto;
    }
    .join_our_team h2{
        margin: 0 0 2% 23%;
    }
    .join_our_team_right_or_down {
        margin-left: 1%;
        margin-right: 0%;
    }
    .join_our_team_right_or_down p {
        margin-top: 7%;
        font-size: 19px;
        line-height: 30px;

    }

    .join_our_team_right_or_down .black_btn {
        margin-left: 36%;
    }

    .address{
        flex-direction: column;
        height: 768px;
    }
    .address_left_or_up h4 {
        margin: 8% 0 1% 42%;
    }
    .address_right_or_down {
        column-gap: 35%;
        margin-top: 16%;
    }
    .map{
        width: 100%;
        height: 88%;
    }

    .footer{
        height: 100px;
    }
}

/*/////////////*/

@media only screen and (max-width: 375px){

    .container{
        width:  375px;
        height: 6034px;
        overflow: hidden;
    }

    nav{
        display: none;
    }

    .search_icon{
        margin-left: 56%;
    }

    .small_common_margin{
        margin-left: 3%;
        margin-right: 3%;
    }
    .big_common_margin{
        margin-left: 5%;
        margin-right: 5%;
    }

    .home{
        Height: 645px;
        background-position: 90% 79%;
        background-size: 87%;
    }
    .home_container{
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
        line-height: 65px;
        margin: 9% 12% 5% 2%
    }
    .home_left_or_up_greenPlayIcon_and_description p {
        font-size: 16px;
        line-height: 33px;
        margin: 0 1% 5% 1%;
    }

    .green_ellipse {
        width: 18%;
        padding: 1%;
        margin: 3% 4% 0 4%;
    }

    .green_ellipse img {
        width: 85%;
    }

    .girl_picture{
        width: 93%;
        margin: 6% 0 0 3%;
    }

    .service{
        flex-direction: column-reverse;
        margin: 99% 0 0 0;
        height: 835px;
    }
    h2 {

        font-size: 37px;
        line-height: 42px;

    }
    .laptop {
        width: 87%;
    }

    .service_right_or_up_service_description{
        margin-left: 7%;
    }

    .service_right_or_up img {
        width: 7%;
        margin-top: 5%;
    }

    h6 {
        font-size: 19px;
        margin-top: 5%;
    }
    .service_right_or_up p {
        margin: 3% 0 3% 13%;
        font-size: 14px;
        line-height: 28px;
    }

    .service_right_or_up h2 {
        margin-left: 4%;
        margin-bottom: 15%;}

    .view_details{
        font-size: 13px;
        line-height: 72px;
        padding: 12px 10px;
        top: -82%;
        left: 53%;
    }

    .work{
        height: 406px;
        background-position: top center;
        background-size: 90%;
    }

    .how_we_work {
        width: 58%;
        height: 38%;
        left: 21%;
        top: 29%;
    }

    .how_we_work h2{
        font-size: 21px;
        line-height: 33px;
    }

    .how_we_work_container p{
        font-size: 11px;
        line-height: 22px;
        margin: 0 1% 5% 0;
    }

    .black_btn {
        padding: 1% 5%;
        font-size: 91%;
    }

    .biggest_fans h2 {
        margin: -17% 10% 9%;
    }
    .biggest_fans_logos img {
        margin-right: 0;
        margin-left: 30%;
        width: 41%;
        margin-top: 3%;
    }
    .team{
        height: 1000px;
    }
    .team h2 {
        margin-top: 10%;
    }
    .swiper-wrapper{
        flex-direction: column;
    }

    .swiper-slide img {
        width: 47%;
    }

    .active_img {
        width: 100%;
    }
    .designation{
        line-height: 54px;
    }

    .join_our_team {
        height: 500px;
        flex-direction: column;
    }


    .join_our_team_left_or_up img {
        width: 100%;
        height: 84%;
        margin-top: 4%;
    }
    .join_our_team h2 {
        margin: 0 0 7% 9%;
    }
    .join_our_team_right_or_down {
        margin-left: 0%;
        margin-right: 0%;
    }
    .join_our_team_right_or_down p {
        margin-top: 7%;
        font-size: 14px;
        line-height: 30px;
    }

    .join_our_team_right_or_down .black_btn {
        margin-left: 36%;
    }
    .address{
        flex-direction: column;
        height: 750px;
    }
    .address_left_or_up h4 {
        margin: 14% 0 1% 35%;
    }
    .address_right_or_down {
        margin-left: 4%;
        column-gap: 18%;
        flex-direction: column;
    }

    .Company{
        margin-left: 27%;
    }
    .Contact{
        margin-left: 27%;
    }
    .Contact img {
        width: 6%;
        height: 5%;
        margin-top: 4%;
    }
    .Contact a {
        column-gap: 4%;
    }
    .footer{
        height: 100px;
    }

    .footer h5{
        font-size: 14px;
        line-height: 27px;
    }
}
